<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>Employees</span>
        <span class="spacer"></span>
        <a mat-button [routerLink]="['insert']" ><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">create</mat-icon></a>
      </mat-toolbar-row>
</mat-toolbar>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="employees" class="mat-elevation-z8" style="width: 100%;" matSort (matSortChange)="setSort($event)" >

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surename">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Surename </th>
      <td mat-cell *matCellDef="let element"> {{element.surename}} </td>
    </ng-container>

    <ng-container matColumnDef="identityCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Identity Code </th>
      <td mat-cell *matCellDef="let element"> {{element.identityCode}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button [routerLink]="['details', element.id]"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">info</mat-icon></a>
        <a mat-button [routerLink]="['edit', element.id]"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">edit</mat-icon></a>
        <a mat-button (click)= "delete(element.id)"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">delete</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="collectionSize" [pageSize] = "pageSize" [pageIndex]= "pageIndex" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page) = "setPagination($event)"></mat-paginator>
</div>

