<div class="fullscreen">
    <app-header></app-header>
    <mat-sidenav-container style="flex-grow: 1">
        <mat-sidenav opened
                     mode="side"
                     class="side-nav"
                     style="z-index:1">
            <mat-nav-list>
                <h3 mat-subheader>Base</h3>
                <a href="#"
                   routerLink="/Employee">
                    <mat-list-item>
                        <mat-icon mat-list-icon>person</mat-icon>
                        <h4 mat-line>
                            Employees
                        </h4>
                    </mat-list-item>
                </a>
                <a href="#"
                   routerLink="/EmployeeGroup">
                    <mat-list-item>
                        <mat-icon mat-list-icon>people</mat-icon>
                        <h4 mat-line>
                            Employee Groups
                        </h4>
                    </mat-list-item>
                </a>
                <a href="#"
                   routerLink="/RegisterTimeEndpoint">
                    <mat-list-item>
                        <mat-icon mat-list-icon>desktop_windows</mat-icon>
                        <h4 mat-line>
                            Register Time Endpoint
                        </h4>
                    </mat-list-item>
                </a>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Reports</h3>
                <a href="#"
                   routerLink="/Reports/Employee">
                    <mat-list-item>
                        <mat-icon mat-list-icon>table_chart</mat-icon>
                        <h4 mat-line>
                            Per Employee
                        </h4>
                    </mat-list-item>
                </a>
                <a href="#"
                   routerLink="/Reports/Day">
                    <mat-list-item>
                        <mat-icon mat-list-icon>table_chart</mat-icon>
                        <h4 mat-line>
                            Per Day
                        </h4>
                    </mat-list-item>
                </a>

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="padding: 5px;">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>