/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import 'theme';
@import "variables";

body{
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer{
    flex: 1 1 auto;
}

.fullscreen{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

:host /deep/ .mat-list {
  margin-top: 65px;
}
:host /deep/ .mat-list-item .mat-list-item-content {
  padding: 0px;
}

.snackbar{
  color:white;
}
.snackbar-success{
  background: mat-color($primary);
}

.snackbar-error{
  background: mat-color($error);
}
