<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><a routerLink=''>Time Tracking System</a></span>
      <span class="spacer"></span>
      <div *ngIf="logged; then logoutblock else loginblock"></div>
          <ng-template #loginblock><button (click)="login()"><mat-icon>input</mat-icon><span>Login</span></button></ng-template>
          <ng-template #logoutblock><button (click)="logout()"><mat-icon>input</mat-icon><span>Logout</span></button></ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
