<h1 mat-dialog-title>
    <div *ngIf="editMode; then editBlock; else createblock"></div>
    <ng-template #editBlock>
        Edit endpoint
    </ng-template>
    <ng-template #createblock>
        Create a new endpoint
    </ng-template>
</h1>
<form [formGroup]="form">
    <div mat-dialog-content>
        <table cellspacing="0">
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput
                               formControlName="name" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Endpoint Type</mat-label>
                        <mat-select formControlName="endpointType">
                            <mat-option *ngFor="let enum of endpointTypeKeys()"
                                        [value]="EndpointType[enum]">
                                {{enum}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>
    <div mat-dialog-actions>
        <button mat-button
                (click)="onNoClick()">Cancel</button>
        <span class="spacer"></span>
        <button mat-raised-button
                disabled="{{ form.invalid }}"
                (click)="onSubmit(form.value)"
                color="primary">
            Save
        </button>
    </div>
</form>