<h1 mat-dialog-title>
    <div *ngIf="editMode; then editBlock; else createblock"></div>
    <ng-template #editBlock>
        Edit employee
    </ng-template>
    <ng-template #createblock>
        Create a new employee
    </ng-template>
</h1>
<form [formGroup]="form">
    <div mat-dialog-content>
        <table cellspacing="0">
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput
                               formControlName="name" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Surename</mat-label>
                        <input matInput
                               formControlName="surename" />
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Identity Code</mat-label>
                        <input matInput
                               formControlName="identityCode" />
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>
    <div mat-dialog-actions>
        <button mat-button
                (click)="onNoClick()">Cancel</button>
        <span class="spacer"></span>
        <button mat-raised-button
                disabled="{{ form.invalid }}"
                (click)="onSubmit(form.value)"
                color="primary">
            Save
        </button>
    </div>
</form>