.mat-form-field{
    margin-right: 5px;
}

.mat-card-content{
    text-align: center;
}

.mat-grid-tile{
    border: 1px solid black;
}

.grey-back {
    background: grey;
}

.red-back {
    background: red !important;
}